<div class="container">
	<div class="col-xs-10 col-xs-offset-1">
		<form class="form-horizontal">
		  <fieldset>
		    <legend>User Info</legend>
		    <div class="form-group">
		      <label class="col-lg-2 control-label">Name</label>
		      <div class="col-lg-10">
		        <input type="text" class="form-control" placeholder="Name">
		        <p>property</p>
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-lg-2 control-label">Email</label>
		      <div class="col-lg-10">
		        <input type="email" class="form-control" placeholder="Email">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-lg-2 control-label">Password</label>
		      <div class="col-lg-10">
		        <input type="password" class="form-control" placeholder="Password">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-lg-2 control-label">Address</label>
		      <div class="col-lg-10">
		        <textarea class="form-control" rows="3" ></textarea>
		      </div>
		    </div>
		    <div class="form-group">
		       <label class="col-lg-2 control-label">Phone No</label>
		      <div class="col-lg-10">
		        <input type="tel" class="form-control" placeholder="+91-9999999999">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-lg-2 control-label">Gender</label>
		      <div class="col-lg-10">
		        <div class="radio">
		          <label>
		            <input type="radio" name="optionsRadios" value="male" checked="">
		            Male
		          </label>
		        </div>
		        <div class="radio">
		          <label>
		            <input type="radio" name="optionsRadios" value="female">
		            Female
		          </label>
		        </div>
		      </div>
		    </div>
		    <div class="form-group">
		      <div class="col-lg-10 col-lg-offset-2">
		        <button type="submit" class="btn btn-primary">Submit</button>
		        <button type="reset" class="btn btn-default">Cancel</button>
		      </div>
		    </div>
		  </fieldset>
		</form>
	</div>
</div>